/* fonts */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* css variables */

:root {
    --main-color: #0B9851;
    --secondary-color: #161616;
    --white-color: #FFF;
    --border-color: #E8E8E8;
}

/* common sytles */

*, *::after, *::before {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

header, main, footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    width: 100%;
    max-width: 1240px;
    margin-top: 50px;
    padding: 0 10px;
}

/* top section */

.hero-row {
    background-color: #072616;
    border-radius: 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 25px;
    align-items: center;
    padding: 50px;
}

.hero-heading {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 25px;
}

.hero-heading h1 {
    color: var(--white-color);
    font-size: 70px;
    font-weight: 700;
    line-height: 1.3em;
    margin: 0;
}

.hero-heading p {
    color: var(--white-color);
    line-height: 1.8em;
}

.button {
    padding: 15px 25px;
    border-radius: 5px;
    background-color: var(--main-color);
    color: var(--white-color);
    transition: transform .4s ease;
}

.button:hover {
    background-color: #088144;
    transform: translate(0, -5px);
}

.button .fa-angle-right {
    margin-left: 5px;
}

/* blog section */

.inner-row {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-column-gap: 30px;
}

.side-menu {
    height: fit-content;
    background-color: var(--secondary-color);
    border-radius: 10px;
    padding: 30px;
    display: grid;
    grid-gap: 25px;
    position: sticky;
    top: 50px;
}

.side-menu a {
    padding: 15px 25px;
    border-radius: 5px;
    background-color: var(--white-color);
    color: var(--main-color);
    font-weight: 500;
    text-align: center;
}

.side-menu a:hover {
    background-color: var(--main-color);
    color: var(--white-color);
}

.side-menu .selected {
    background-color: var(--main-color);
    color: var(--white-color);
}

.side-menu .selected:hover {
    color: var(--main-color);
    background-color: var(--white-color);
}

.blogs, .matches {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 25px;
}

.blog, .match {
    border: 1px solid var(--border-color);
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
}

.blog:hover, .match:hover {
    border: 1px solid var(--main-color);
}

.blog-thumbnail img {
    width: 100%;
    border-radius: 10px 10px 0 0;
    transition: transform 0.4s ease-in-out;
}

.blog-thumbnail img:hover {
    width: 100%;
    border-radius: 10px 10px 0 0;
    transform: scale(1.05);
}

.blog-info, .match {
    padding: 30px;
}

.blog-info > a {
    color: var(--secondary-color);
    padding: 5px 15px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    display: inline;
}

.blog-info > a:hover {
    border: 1px solid var(--main-color);
    color: var(--main-color);
}

.blog-info > h4 > a {
    color: var(--secondary-color);
    font-weight: 600;
}

.blog-info > h4 > a:hover {
    color: var(--main-color);
}

.blog-info span a i {
    margin-right: 5px;
}

.blog-info span {
    margin-right: 25px;
}

.blog-info span a {
    color: var(--secondary-color);
}

.blog-info span a:hover {
    color: var(--main-color);
}

.view-all {
    display: none;
    width: fit-content;
    margin: 0 auto;
}

/* upcoming matches */

.countries {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    grid-gap: 15px;
    justify-items: center;
}

.countries p {
    font-size: 24px;
    font-weight: 600;
}

.schedule p:first-child {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}

.schedule p:last-child {
    font-weight: 400;
    margin-bottom: 0;
    text-align: center;
}

/* footer */

.footer {
    background-color: var(--secondary-color);
    width: 100%;
    margin-top: 50px;
    padding-bottom: 50px;
}

.footer-logo h1 {
    font-size: 70px;
    color: var(--white-color);
    text-align: center;
    margin: 20px 0 30px;
}

hr {
    width: 100%;
    border-color: #666666;
}

.footer-menu {
    margin: 30px 0;
}

.footer-menu ul, .footer-social ul {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.footer-menu ul li a, .footer-social ul li a {
    color: var(--white-color);
}

.footer-menu ul li a:hover {
    color: var(--main-color);
}

.footer-social ul li a {
    font-size: 50px;
    transition: transform 0.4s ease;
    display: inline-block;
}

.footer-social ul li a:hover {
    color: #c9c9c9;
    transform: translate(0, -5px);
}

/* mobile responsive */

@media screen and (max-width: 767px) {

    .hero-row {
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 50px;
        padding: 50px 20px
    }

    .hero-heading {
        align-items: center;
    }

    .hero-heading p {
        text-align: center;
    }

    .hero-heading h1 {
        font-size: 30px;
        text-align: center;
    }
    
    .inner-row {
        grid-template-columns: repeat(1, 1fr);
    }

    .blogs {
        grid-template-columns: repeat(1, 1fr);
    }

    .side-menu {
        position: inherit;
        margin-bottom: 30px;
    }

    .view-all {
        display: block;
    }
    
    .matches {
        grid-template-columns: repeat(1, 1fr);
    }

    .footer-menu ul {
        flex-direction: column;
        align-items: center;
    }

    .footer-social ul li a {
        font-size: 30px;
    }
}

/* tablet responsive */

@media screen and (min-width: 768px ) and (max-width: 1023px) {
    
    .hero-heading h1 {
        font-size: 40px;
    }

    .inner-row {
        grid-template-columns: repeat(1, 1fr);
    }

    .side-menu {
        grid-template-columns: repeat(3, 1fr);
        margin-bottom: 30px;
        position: inherit;
    }

    .blogs, .matches {
        grid-template-columns: repeat(2, 1fr);
    }

    .blog:nth-last-child(-n+4) {
        display: none;
    }

    .view-all {
        display: block;
    }

    .blogs .view-all:last-of-type {
        grid-column: 1 / -1;
    }
}